*{
    margin: 0;
    padding: 0;
}
    @media screen and (min-width: 1300px){
        .location h1{
            text-align: center;
            color: rgb(243, 170, 33);
            font-family: Georgia, 'Times New Roman', Times, serif;
            z-index: -1; 
            font-size: 40px;
        }
        .menu{
            width: 400px;
            margin-top: 50px;
            margin-left: 2%;
            margin-bottom: 50px;
        }
        .logo img{
            height: 100px;
            margin-top: 8vh;
        }
        .location{
            padding-top: 10%;
            padding-bottom: 10%;
        }
        .title-index h1{
        padding-top:50PX; 
        font-size: 50px;
    }
    .title-index p{
        padding: 10px;
        font-size: 25px; 
        color: rgb(243, 170, 33);
    }
        .title .img1{
            border-radius: 20px; 
            width: 40%;
        }
        .title{
            text-align: center;
            color: rgba(158, 116, 37, 0.801);
            font-family: Georgia, 'Times New Roman', Times, serif;
            z-index: -1;
            padding-bottom: 100px;
        }
        .title h1{
            padding-top:80PX; 
            font-size: 60px;
            padding-bottom: 20PX;
        }
        
        .title h2{ 
            font-size: 50px;
            padding-top: 20PX;
        }
        .title p{
            font-size: 30px;
        }
        .footerr
        {
            background: url('Images/Dark-Wood9.jpg') no-repeat;
            background-size: cover;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        .footer{
            background: url('Images/Dark-Wood9.jpg') no-repeat;
            background-size: cover;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        footer{
            background: url('Images/Dark-Wood9.jpg') no-repeat;
            background-size: cover;
        }
        .res-form{
            width: 50%;
            padding: 20px;
            margin-right: 1%;
            float: right;
            margin-top: -450px;
            height: 80vh;
        }
        .res{
            width: 50%;
            padding: 20px;
            float: left;
        }
        #navbar-L{
            height: 70px;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
            transition: 1s;
        }
        #navbar-L img{
            height: 65px; 
            margin-left: 2%;
            transition: 1s;
        }
        #navbar-L ul{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            list-style-type: none;
            margin-top: -55px;
            transition: 1s;
        }
        #navbar-L ul li a{
            text-decoration: none;
            display: block;
            padding: 8px;
            padding-left: 15px;
            padding-right: 15px;
            color: rgb(241, 160, 10);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
            transition: 1s;
        }
        #navbar-L ul li a:hover{
            background-color: rgba(224, 188, 28, 0.822);
            color: aliceblue;
            transition: ease-in-out 1s;
        }
        #navbar{
            background: url('Images/Dark-Wood9.jpg');
            height: 70px;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
            transition: 1s;
        }
        #navbar img{
            height: 65px; 
            margin-left: 2%;
            transition: 1s;
        }
        #navbar ul{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            list-style-type: none;
            margin-top: -55px;
            transition: 1s;
        }
        #navbar ul li a{
            text-decoration: none;
            display: block;
            padding: 8px;
            padding-left: 15px;
            padding-right: 15px;
            color: rgb(241, 160, 10);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
            transition: 1s;
        }
        #navbar ul li a:hover{
            background-color: rgba(224, 188, 28, 0.822);
            color: aliceblue;
            transition: ease-in-out 1s;
        }
        .clean{
            padding-bottom: 20px;
        }
        .ct{
            border-radius: 20px;
            width: 50%;
            height: 60vh;
            margin: 2%;
            margin-top: 2%;
        }
        .clean p{
            margin-top: 90px;
            margin-left: 2%;
            margin-right: 2%;
            width: 40%;
            float: right;
            color: rgb(243, 170, 33);
            text-align: justify;
            font-size: 25px;
        }
        .clean h1{
            text-align: center;
            color: rgba(158, 116, 37, 0.801);
            font-family: Georgia, 'Times New Roman', Times, serif;
            z-index: -1;
            padding-top:50PX; 
            font-size: 80px;
        }
        .log img{
            height: 400px;
            padding: 50px;
            display: none;
        }
        .lo img{
            height: 400px;
            padding: 50px;
        }
        .title-index .chef{
            border-radius: 20px;
            width: 30%;
        }
        .main-img{
            background: url('Images/hamburger-spicy-uhd-4k-wallpaper.jpg');
            background-size: cover;
            height: 100vh;
            padding-top: 70PX;
        }
        .image1{
            background: url('Images/burger_fries_meat_pickles_fast_food_107915_3840x2160.jpg');
            background-size:cover; 
            height: 78vh;
            color: rgb(147, 153, 151);
            text-align: center;
            padding-top: 150px;
            font-weight: bolder;
            z-index: 1;
        }
        .image1 h1{
            font-size: 120px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-shadow: 0px 30px 5px rgb(117, 51, 13);
        }
        .image1 p{
            font-size: 23px;
        }
    }
    @media screen and (min-width:800px) and (max-width:1300px){
        .location h1{
            text-align: center;
            color: rgb(243, 170, 33);
            font-family: Georgia, 'Times New Roman', Times, serif;
            z-index: -1; 
            font-size: 40px;
        }
        .menu{
            width: 500px;
            margin-top: 50px;
            margin-left: 2%;
            margin-bottom: 50px;
        }
        .logo img{
            height: 100px;
            padding-top: 70px;
            margin-top:20px; 
        }
    
        .location{
            padding-top: 10%;
            padding-bottom: 10%;
        }
        .title-index h1{
            padding-top:50PX; 
            font-size: 60px;
        }
        .title-index p{
            padding: 10px;
            font-size: 25px; 
            color: rgb(243, 170, 33);
        }
        .title{
            padding-bottom:100px; 
        }
        .title .img1{
            border-radius: 20px; 
            width: 50%;
        }
        .title{
            text-align: center;
            color: rgba(158, 116, 37, 0.801);
            font-family: Georgia, 'Times New Roman', Times, serif;
            z-index: -1;
        }
        .title h1{
            padding-top:80PX; 
            font-size: 60px;
            padding-bottom: 20PX;
        }
        
        .title h2{ 
            font-size: 50px;
            padding-top: 20PX;
        }
        .title p{
            font-size: 30px;
        }
        .footerr{
            background: url('Images/Dark-Wood9.jpg') no-repeat;
            background-size: cover;
            position: fixed;
            bottom: 0;
            width: 100%;
            
        }
        .footer{
            background: url('Images/Dark-Wood9.jpg') no-repeat;
            background-size: cover;
        }
        footer{
            background: url('Images/Dark-Wood9.jpg') no-repeat;
            background-size: cover;
        }
        .res-form{
            width: 90%;
            padding: 20px;
        }
        .res{
            width: 100%;
            text-align: justify;
        }
        #navbar-L{
            background: url('Images/Dark-Wood9.jpg');
            height: 70px;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
            transition: 1s;
        }
        #navbar-L img{
            height: 65px; 
            margin-left: 2%;
            transition: 1s;
        }
        #navbar-L ul{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            list-style-type: none;
            margin-top: -55px;
            transition: 1s;
        }
        #navbar-L ul li a{
            text-decoration: none;
            display: block;
            padding: 8px;
            padding-left: 15px;
            padding-right: 15px;
            color: rgb(241, 160, 10);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
            transition: 1s;
        }
        #navbar-L ul li a:hover{
            background-color: rgba(224, 188, 28, 0.822);
            color: aliceblue;
            transition: ease-in-out 1s;
        }
        #navbar{
            background: url('Images/Dark-Wood9.jpg');
            height: 70px;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
            transition: 1s;
        }
        #navbar img{
            height: 65px; 
            margin-left: 2%;
            transition: 1s;
        }
        #navbar ul{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            list-style-type: none;
            margin-top: -55px;
            transition: 1s;
        }
        #navbar ul li a{
            text-decoration: none;
            display: block;
            padding: 8px;
            padding-left: 15px;
            padding-right: 15px;
            color: rgb(241, 160, 10);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
            transition: 1s;
        }
        #navbar ul li a:hover{
            background-color: rgba(224, 188, 28, 0.822);
            color: aliceblue;
            transition: ease-in-out 1s;
        }
        .clean{
            padding-bottom: 20px;
        }
        .ct{
            border-radius: 20px;
            width: 50%;
            height: 60vh;
            margin: 2%;
            margin-top: 2%;
        }
        .clean p{
            margin-top: 90px;
            margin-left: 2%;
            margin-right: 2%;
            width: 40%;
            float: right;
            color: rgb(243, 170, 33);
            text-align: justify;
            font-size: 20px;
        }
        .clean h1{
            text-align: center;
            color: rgba(158, 116, 37, 0.801);
            font-family: Georgia, 'Times New Roman', Times, serif;
            z-index: -1;
            padding-top:50PX; 
            font-size: 80px;
        }
        .log img{
            height: 200px;
            padding-top: 50px;
            display: none;
        }
        .lo img{
            height: 400px;
            padding-top: 50px;
        }
        .title-index .chef{
            border-radius: 20px;
            width: 30%;
        }
        .main-img{
            background: url('Images/hamburger-spicy-uhd-4k-wallpaper.jpg');
            background-size: cover;
            height: 89vh;
            padding-top: 70PX;
        }
        .image1{
            background: url('Images/burger_fries_meat_pickles_fast_food_107915_3840x2160.jpg');
            background-size:cover; 
            height: 78vh;
            color: rgb(147, 153, 151);
            text-align: center;
            padding-top: 150px;
            font-weight: bolder;
            z-index: 1;
        }
        .image1 h1{
            font-size: 120px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-shadow: 0px 30px 5px rgb(117, 51, 13);
        }
        .image1 p{
            font-size: 23px;
        }
        .reservation{
            padding-bottom: 50px;
            width: 70%;
        }
    }
        @media screen and (max-width:800px){
            .location h1{
                text-align: center;
                color: rgb(243, 170, 33);
                font-family: Georgia, 'Times New Roman', Times, serif;
                z-index: -1; 
                font-size: 20px;
            }
            .menu{
                width: 450px;
                margin-top: 50px;
                margin-left: 2%;
                margin-bottom: 50px;
            }
            .logo img{
                height: 100px;
                padding-top: 70px;
                margin-top:20px; 
                display: none;
            }
            .location{
                padding-top: 10vh;
                padding-bottom: 29.5vh;
            }
        .clean{
            padding-bottom: 20px;
        }
            .title-index h1{
                padding-top:20PX; 
                font-size: 50px;
            }
            .title-index p{
                padding: 10px;
                font-size: 20px; 
                color: rgb(243, 170, 33);
            }
            .title{
                padding-bottom: 100px;
            }
            .title .img1{
                border-radius: 20px; 
                width: 80%;
            }
            .title{
                text-align: center;
                color: rgba(158, 116, 37, 0.801);
                font-family: Georgia, 'Times New Roman', Times, serif;
                z-index: -1;
            }
            .title h1{
                padding-top:50PX; 
                font-size: 60px;
                padding-bottom: 20PX;
            }
            
            .title h2{ 
                font-size: 30px;
                padding-top: 20PX;
            }
            .title p{
                font-size: 1
                
                5px;
            }
            .footerr
        {
            background: url('Images/Dark-Wood9.jpg') no-repeat;
            background-size: cover;
            position: fixed;
            bottom: 0;
            z-index: -1;
            width: 100%;
        }
            .footer{
                background: url('Images/Dark-Wood9.jpg') no-repeat;
                background-size: cover;
            }
            .footer{
                background: url('Images/Dark-Wood9.jpg') no-repeat;
                background-size: cover;
            }
            footer{
                background: url('Images/Dark-Wood9.jpg') no-repeat;
                background-size: cover;
            }
            .res-form{
                width: 90%;
                padding: 20px;
                margin-right: 1%;
            }
            .res{
                width: 100%;
                text-align: justify;
            }
            #navbar-L{
                position: fixed;
                width: 30%;
                height: 100%;
                left: -30%;
                background: url('Images/Dark-Wood9.jpg');
                transition: 1s;
            }
            #navbar-L ul{
                 list-style-type: none;
            
            }
            #navbar-L img{
                height: 10vw;
                padding-top:2vw;
                margin-left: 7vw;
                transition: 1s;
            }
            #navbar-L ul li a{
                text-decoration: none;
                display: block;
                text-align: center;
                padding-top: 3vw;
                padding-bottom: 3vw;
                padding-left: 4vw;
                padding-right: 4vw;
                color: rgba(158, 116, 37, 0.801);
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 4vw;
                border-bottom: 1px solid grey;
            }
            #navbar-L ul li a:hover{
                background-color: rgba(224, 188, 28, 0.822);;
                color: aliceblue;
                transition: ease-in-out 1s;
            }
            .toggle-btn{
                position: absolute;
                left: 105%;
                top: 15px;
                padding: 5px;
            }
            .toggle-btn span{
                display: block;
                background-color:#fff;
                width: 30px;
                height: 5px;
                margin: 3px;
            }
            .toggle-btn:hover{
                background-color: rgb(117, 51, 13);
                cursor: pointer;
                transition: 0.5s ease-in-out;
            }
            #navbar-L.active{
                left: 0;
                transition: 1s;
            }
        #navbar{
            position: fixed;
            width: 30%;
            height: 100%;
            left: -30%;
            background: url('Images/Dark-Wood9.jpg');
            transition: 1s;
        }
        #navbar ul{
             list-style-type: none;
        
        }
        #navbar img{
            height: 10vw;
            padding-top:2vw;
            margin-left: 7vw;
            transition: 1s;
        }
        #navbar ul li a{
            text-decoration: none;
            display: block;
            text-align: center;
            padding-top: 3vw;
            padding-bottom: 3vw;
            padding-left: 4vw;
            padding-right: 4vw;
            color: rgba(158, 116, 37, 0.801);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 4vw;
            border-bottom: 1px solid grey;
        }
        #navbar ul li a:hover{
            background-color: rgba(224, 188, 28, 0.822);;
            color: aliceblue;
            transition: ease-in-out 1s;
        }
        .toggle-btn{
            position: absolute;
            left: 105%;
            top: 15px;
            padding: 5px;
        }
        .toggle-btn span{
            display: block;
            background-color:#fff;
            width: 30px;
            height: 5px;
            margin: 3px;
        }
        .toggle-btn:hover{
            background-color: rgb(117, 51, 13);
            cursor: pointer;
            transition: 0.5s ease-in-out;
        }
        #navbar.active{
            left: 0;
            transition: 1s;
        }
        .ct{
            border-radius: 20px;
            width: 70%;
            height: 60vh;
            margin-top: 2%;
        }
        .clean p{
            margin-top: 20px;
            width: 80%;
            color: rgb(243, 170, 33);
            text-align: justify;
            font-size: 20px;
            padding-bottom: 20px;
        }
        .clean h1{
            text-align: center;
            color: rgba(158, 116, 37, 0.801);
            font-family: Georgia, 'Times New Roman', Times, serif;
            z-index: -1;
            padding-top:50PX; 
            font-size: 50px;
        }
        .log img{
            height: 100px;
            padding-top:20px; 
        }
        .title-index .chef{
            border-radius: 20px;
            width: 50%;
        }
        .main-img{
            background: url('Images/hamburger-spicy-uhd-4k-wallpaper.jpg');
            background-size: cover;
            height: 103vh;
            display: none;
        }
        .image1{
            height: 60vh;
            color: rgb(226, 110, 42);
            text-align: center;
            padding-top: 150px;
            font-weight: bolder;
            z-index: -1;
            display: none;
        }
        .reservation{
            padding-bottom: 50px;
        }
    }
    
    body{
        background: url('Images/Dark-Wood9.jpg') no-repeat;
        background-size:cover;
        background-attachment: fixed;
    }
    .title-index{
        text-align: center;
        color: rgba(158, 116, 37, 0.801);
        font-family: Georgia, 'Times New Roman', Times, serif;
        z-index: -1;
    }
    .layer{
        background-color: rgba(148, 143, 143, 0.562);
        border-radius: 20px;
        padding: 10px;
    }
    .layer-location{
        background-color: rgba(148, 143, 143, 0.562);
        width: 50%;
        padding: 30px;
        border-radius: 20px;
    }
    .location select{
        margin-top: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 10px;
        width: 20%;
        border: 1px solid black;
        outline: none;
    }
    .location .State{
        padding: 10px;
        width: 20%;
        border: 1px solid black;
        outline: none;
    }
    .location .city{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 10px;
        width: 20%;
        border: 1px solid black;
        outline: none;
    }
    .location .sub{
        margin-top: 10px;
        padding: 10px;
        width: 55%;
        border-radius: 20px;
        outline: none;
    }
    .location .sub input:hover{
        background-color: rgba(224, 188, 28, 0.822);
        border-color:rgba(224, 188, 28, 0.822);
        transform: scale(1.1);
        transition: 1s ease-out;
    }
   
    .res h1{
        text-align: center;
        color: rgb(243, 170, 33);
        font-family: Georgia, 'Times New Roman', Times, serif;
        z-index: -1;
        padding-top:70PX; 
        font-size: 40px;
    }
    .res p{
        text-align: justify;
        color: rgb(243, 170, 33);
        font-family: Georgia, 'Times New Roman', Times, serif;
        z-index: -1;
        line-height: 30px;
        padding-top: 25px;
        padding-left: 10%; 
        padding-right: 10%;
        font-size: 20px;   
    }
    .res-form input{
        border-radius: 20px;
        outline: none;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 40%;
        border: 1px solid black;
    }
    .res-form .name select{
        border-radius: 20px;
        outline: none;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 50%;
        border: 1px solid black;
    }
    .layer-reservation{
        background-color: rgba(148, 143, 143, 0.562);
        width: 100%;
        border-radius: 20px;
        padding: 10px;
    }
    .submit input:hover{
        background-color: rgba(224, 188, 28, 0.822);
        border-color:rgba(224, 188, 28, 0.822);
        transform: scale(1.1);
        transition: 1s ease-out;
    }
    .feed{
        padding-bottom: 100px;
        margin-top: 3vh;
    }
    .feed h1{
        color: rgba(224, 188, 28, 0.822);
        font-size: 40px;
    }
    .feed .tt{
        height: 40px;
        width: 30%;
        border-radius: 10px;
        
    }
    .feed .ss{
        height: 40px;
        width: 10%;
        border-radius: 10px;
        margin-left: 1%;
    }
    .feed .ss:hover{
        background-color: rgba(224, 188, 28, 0.822);
        border-color:rgba(224, 188, 28, 0.822);
        transform: scale(1.1);
        transition: 1s ease-out;
    }
    .footerr p{
        color: rgba(224, 188, 28, 0.822);
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footerr img{
        height: 50px;
    }
    .footer p{
        color: rgba(224, 188, 28, 0.822);
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer img{
        height: 50px;
    }
    footer p{
        color: rgba(224, 188, 28, 0.822);
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    footer img{
        height: 50px;
    }
    .container{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .menu h1{
        padding: 5px;
        text-align: center;
        color: rgb(241, 160, 10);
    }
    .menu img{
        width: 49%;
        height: 150px;
        border-radius: 20px;
        padding: 10px;
    }
    .menu p{
        width: 40%;
        float: right;
        padding: 10px;
        text-align: justify;
        padding-top: 20px;
        color: rgb(224, 188, 28);
    }
    .menu h2
    {
        width: 40%;
        float: right;
        margin-top: -60px;
        color: rgb(241, 160, 10);
        font-size: 40px;
    }
    .loc{
        margin-top: 15%;
        margin-right: 2%;
        margin-left: 2%;
        margin-bottom: 10%;
    }
    .loc h1{
        padding-bottom: 10px;
        font-size: 37px;
        color: rgb(241, 160, 10);
    }
    .loc p{
        font-size: 17px;
        color: rgb(241, 160, 10);
    }
    .loc input{
        width: 80%;
        padding: 15px;
        background-color: rgb(241, 160, 10);
        border-color: rgb(241, 160, 10);
        border-radius: 20px;
    }
    .loc input:hover{
        transform: scale(1.1);
        transition: 1s ease-out;
    }